
.navbar{
    background-color: #FFFFFF !important;
    margin-top:50px;
    margin-bottom: 30px;
}
.resNav{
    margin:0px 15px 0px 0px;
}
.carosuelArea{
    border-radius: 23px;
}
.bannerButton {
    background-image: linear-gradient(#FF589B, #FF5891);
    color: white;
    border-radius: 7px;
    border: 0px;
    padding:7px 20px;
    font-weight:bold;
}
.bannerPrice{
    color:#FF136F;
}
.carosuelBg{
    background-color: #FEEAE9;
}
.carousel-inner{
    padding:20px 40px;
}
.bannerP{
    font-size: 18px;
}
.categoriesBg{
    background-image:linear-gradient(#FF9D35, #FFCA1C)
}
.categoriesArea{
    margin-top: 40px;
    margin-bottom: 30px;
}
.categoriesArea h2{
    font-size: 30px;
    margin-bottom: 23px;
}
.categoriesArea img{
    width:110px;
    padding:5px 5px;
}
.categoriesArea h1{
    color: white;
    padding:0px 15px;
    font-size:30px;
}
.collection{
    background-color:#F8F8F8;
    padding-top:70px;
}
.shoesArea{
}
.card{
    border:none;
}
.kidsArea{
    padding-bottom:35px;
}
.kidsArea2{
    color:orange;
    font-size:22px;
}
.bagArea{
    padding-bottom:100px;
}
.card-footer{
    border-top:none;
    background-color: #FFFFFF;
    text-align:center;
}
.subscribeArea{
    margin-top:60px;
    height:290px;
    background-color:#FEEAE9;
}
.subButton{
    border: 0px;
    padding:7px 20px;
    color:gray;
}
.subButton2{
    background-image: linear-gradient(#FF408C, #FF408C);
    color: white;
    border: 0px;
    padding:7px 20px;
    font-weight:bold;
}